name: Trigger auto deployment for hcid-pg-eng-embedding

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/hcid-pg-eng-embedding-AutoDeployTrigger-a3bed001-a228-48bd-9192-5ce4d4aea295.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.HCIDPGENGEMBEDDING_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.HCIDPGENGEMBEDDING_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.HCIDPGENGEMBEDDING_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: hcidplaygroundregistry.azurecr.io
          registryUsername: ${{ secrets.HCIDPGENGEMBEDDING_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.HCIDPGENGEMBEDDING_REGISTRY_PASSWORD }}
          containerAppName: hcid-pg-eng-embedding
          resourceGroup: HCID_PLAYGROUND_AI_RG
          imageToBuild: hcidplaygroundregistry.azurecr.io/hcid-pg-eng-embedding:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


